@model data;



@{
    var count = 100;
    List<string> names = new List<string>()
    {
        "Shaiq","Konul","Cahandar"
    };

}
<h1>Hello p135</h1>

<section id="home">
    <div class="navbar">
        <h3 style="color:red">Star Backend</h3>
        @{
            var number = 5 + 5;

        }
        <span>@count</span>


        <ul>
            @for (int i = 0; i < 6; i++)
            {
                <li>@count</li>
                count++;
            }
            
        </ul>

        @foreach (var item in names)
        {
            <h1>@item</h1>
        }

        
        @foreach (var item in Model)
        {
            <h1>@item</h1>
        }
    </div>
</section>

<script>
    console.log("asdsad")
</script>